<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Serif+Georgian:wdth,wght@71.2,641&display=swap"
    rel="stylesheet">

<footer>
    <hr style="max-width: 1440px;">
    <div class="mainFoot">
        <div class="contactText">
            <p>უკუკავშირი</p>
            <h1>საკონტაქტო</h1>
        </div>

        <div class="MessageAdmin">
            <div class="MessageLeft">
                <h3>მოგვწერეთ აქ.</h3>
                <form>
                    <input type="text" placeholder="სახელი">
                    <input type="email" placeholder="ემაილი">
                    <input type="text" placeholder="თემა">
                    <textarea placeholder="თქვენი მესიჯი"></textarea>
                    <button type="submit">მესიჯის გაგზავნა</button>
                </form>
            </div>

            <div class="MessageRight">
                <div class="infoBox">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d744.9611322710653!2d44.98115092861618!3d41.68070099819652!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zNDHCsDQwJzUwLjUiTiA0NMKwNTgnNTQuNSJF!5e0!3m2!1ska!2sge!4v1743106883823!5m2!1ska!2sge"
                        width="300" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>

</footer>