<header>
    <nav>
        <div class="Logo"><img src="assets/331f3df9-026f-4d14-886b-bafe0c6d2a5d.png" alt="Website Logo"></div>

        <div class="navigationLinks">
            <a href="./Questions.html">Q&A</a>
            <a href="#">News</a>
            <a href="./index.html">About Us</a>
        </div>

        <div class="socialLinksRegistration">
            <h2 (click)="this.globalVariables.auth = !this.globalVariables.auth">SignUp/ SingIn</h2>
        </div>
    </nav>
</header>





