<main>
    <section class="firstSect">
        <h2>პასუხები თქვენს შეკითხვებზე შეგიძლიათ მოიძიოთ <br> <span style="color: rgb(118, 237, 150);">&#123; ჩვენს საიტზე &#125;</span> </h2>
        <h3>თუ თქვენს კითხვაზე პასუხი ვერ იპოვნეთ შეგიძლიათ შექმნათ <span style="color: rgb(118, 237, 150);">&#123; ახალი კითხვა &#125;</span> </h3>
        <button class="ask-question-btn" (click)="goToAskQuestion()">ახალი შეკითხვა</button>
        <h1>გაქვს საკმარისი გამოცდილება კოდირებასთან დაკავშირებით? მაშინ შეგიძლიათ კითხვებს გასცეთ პასუხი და თქვენი წვლილი შეიტანოთ ქართველი დამწყები დეველოპერების <br> <span style="color: rgb(118, 237, 150);">&#123; განვითარებაში &#125;</span> </h1>
        <hr style="width: 100%;">
    </section>
 
    <section class="secSect">
        <div class="mainSection">
            <header class="ask-question-header">
            </header>
            <div class="questionsTable">
                <div class="filterTable">
                    <div class="innerFilterTable">
                        <div class="swiperFilter">
                            <swiper-container class="swiper-container" slides-per-view="2" space-between="0"
                                [breakpoints]="swiperBreakpoints">
                                <swiper-slide *ngFor="let image of filterImages">
                                    <img [src]="image" class="filter-img">
                                </swiper-slide>
                            </swiper-container>
                        </div>

                        <div class="searchBar">
                            <div class="group">
                                <svg viewBox="0 0 24 24" aria-hidden="true" class="search-icon">
                                    <g>
                                        <path
                                            d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z">
                                        </path>
                                    </g>
                                </svg>

                                <input id="query" class="input" type="search" placeholder="Search..."
                                    name="searchbar" />
                            </div>

                        </div>

                        <div *ngIf="!dropDownMenu" class="filterMenu">
                            <button (click)="selectFilter('newest')" [ngClass]="newestFilter ? 'clickedBtn' : ''"
                                class="filterBtn">Newest</button>
                            <button (click)="selectFilter('unanswered')"
                                [ngClass]="unansweredFilter ? 'clickedBtn' : ''" class="filterBtn">Unanswered</button>
                            <button (click)="selectFilter('scores')" [ngClass]="scoresFilter ? 'clickedBtn' : ''"
                                class="filterBtn">Score</button>
                        </div>

                        <img *ngIf="!dropDownMenu" class="dropDownMenuLogo" src="assets/menu.png"
                            (click)="dropDownMenu = !dropDownMenu">
                        <div *ngIf="dropDownMenu" class="dropDownMenu" @DropDownMenuAnimation>
                            <header class="dropDownMenu-header">
                                <h3>Filter By:</h3>
                                <button class="close-dropDownMenu" (click)="dropDownMenu = false">Close</button>
                            </header>
                            <section class="dropDownMenu-section">
                                <button (click)="selectFilter('newest')" [ngClass]="newestFilter ? 'clickedBtn' : ''"
                                    class="filterBtnDropDown">Newest</button>
                                <button (click)="selectFilter('unanswered')"
                                    [ngClass]="unansweredFilter ? 'clickedBtn' : ''"
                                    class="filterBtnDropDown">Unanswered</button>
                                <button (click)="selectFilter('scores')" [ngClass]="scoresFilter ? 'clickedBtn' : ''"
                                    class="filterBtnDropDown">
                                    Score
                                </button>

                                <h3>Languages:</h3>
                                <swiper-container class="swiper-container-mobile" slides-per-view="2" space-between="0"
                                    [breakpoints]="swiperBreakpoints">
                                    <swiper-slide *ngFor="let image of filterImages">
                                        <img [src]="image" class="filter-img" (click)="selectLanguage(image)">
                                    </swiper-slide>
                                </swiper-container>

                                <h3>Selected Language:</h3>
                                <p *ngIf="!selectedLanguage">no language filter selected.</p>
                                <img *ngIf="selectedLanguage" [src]="selectedLanguage" class="selectedLanguage">
                            </section>

                            <button class="filter" (click)="filterQuestions()">Filter</button>
                        </div>
                    </div>

                    <hr>

                </div>

                <div class="questionMainTable">
                    <app-questions-list [Questions]="questionsArray"></app-questions-list>

                </div>
            </div>
        </div>

    </section>
</main>