.firstSect {
    position: relative;
    width: 100%;
    height: 800px;
    margin: auto;
}


.backDots {
    height: 800px;
    background-color: rgb(43, 216, 131);
}


.curve1 {
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: auto;
}


.secSect {
    width: 100%;
    // max-width: 1440px;
    margin-bottom: 300px;
    margin: auto;
    background-color: rgb(31, 39, 47);
    display: flex;
    flex-direction: column;
}

.mainSection {
    margin-top: 100px;
    height: 1700px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}


.questionsTable {
    width: 90%;
    height: 1500px;
    background-color: rgb(22, 28, 33);
    border-radius: 20px;

}

.filterTable {
    width: 100%;
    position: sticky;
    top: 0px;
    background-color: rgb(22, 28, 33);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.innerFilterTable {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    @media (max-width:800px) {
        justify-content: start;
        
    }
}

.swiperFilter {
    width: 20%;
    @media (max-width:800px) {
        display: none;
    }
}

swiper-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.swiper-container
{
    @media (max-width:800px) {
        display: none;
    }
}
.swiper-container-mobile
{
    width: 50%;
    margin: 0;
}
swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;

}

.filter-img {
    cursor: pointer;
    width: 50px;
    height: 50px;
}

.filterMenu {
    padding-right: 30px;
    display: flex;
    gap: 8px;
    @media (max-width:800px) {
        display: none;
    }
}
.dropDownMenu
{
  position:absolute;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  background-color: white;
  height: auto;
  width: 50%;
  top: 0;
  right: 20px;
  border-radius: 5px;
  padding:5px ;
  @media (max-width:500px) {
    height: auto;
    width: 97.5%;
    top:0;
    right: 0;
    z-index: 999;
  }

}
.dropDownMenu img{
    width: 50px;
    height: 50px;
}

.dropDownMenuLogo
{ width: 40px;
    height: 40px;
    cursor: pointer;
    position: absolute;
    top: 10;
    right: 40px;
    display: none;
    @media (max-width:800px) {
        display: block;
    }
   
    
}
.dropDownMenu-header
{
    width: 100%;
    display: flex;
    justify-content: space-between;

    align-items: center;
}
.close-dropDownMenu
{
    cursor: pointer;
}
.dropDownMenu-section
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.dropDownMenu-section h3{
    margin: 0;
}
.filterBtnDropDown
{
    background: none;
    border: none;
    cursor: pointer;
    font-size: medium;
}


.filterBtn {
    background: none;
    border: none;
    color: gray;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 4px;
    padding: 15px;
    @media (max-width:1090px) {
        padding:10px ;
    }
}

.selectedLanguage
{
    margin-bottom: 30px;
}
.filter{
  padding:10px;
  width: 100px;
  cursor: pointer;
  background: lightgreen;
  border-radius: 5px;
  border: 1px solid black;
  font-size: medium;
  
}

.questionMainTable {
    height: 90%;
    overflow-y: scroll;
    overflow-x: hidden;
}


.searchBar
{
  width: 400px;
  @media (max-width:1090px) {
    width: 250px;
  }
  @media (max-width:700px) {
    width: 200px;
  }
  @media (max-width:600px) {
    width: 150px;
  }
}
.group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
}

.input {
    font-family: "Montserrat", sans-serif;
    width: 100%;
    height: 45px;
    padding-left: 2.5rem;
    box-shadow: 0 0 0 1.5px #2b2c37, 0 0 25px -17px #000;
    border: 0;
    border-radius: 12px;
    background-color: #16171d;
    outline: none;
    color: #bdbecb;
    transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
    cursor: text;
    z-index: 0;
}

.input::placeholder {
    color: #bdbecb;
}

.input:hover {
    box-shadow: 0 0 0 2.5px #2f303d, 0px 0px 25px -15px #000;
}

.input:active {
    transform: scale(0.95);
}

.input:focus {
    box-shadow: 0 0 0 2.5px #2f303d;
}

.search-icon {
    position: absolute;
    left: 1rem;
    fill: #bdbecb;
    width: 1rem;
    height: 1rem;
    pointer-events: none;
    z-index: 1;
}


.curve2 {
    position: relative;
    top: 10px;
    z-index: 2;
}

app-questions-list {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding: 10px;
    width: 100%;
    height: 100%;
    gap: 10px;
    margin-bottom: 20px;

}

.clickedBtn {
    color: lightgreen;
}