<section class="qeustion">
    <!-- <h1 class="question-title">{{ globalVaraiblesService.QuestionResponse?.question?.title }}</h1> -->
    <!-- <p class="question-description">{{ globalVaraiblesService.QuestionResponse?.question?.description }}</p> -->
    <h1 class="question-title">ragaca ragaca blablabla blablabla</h1>
    <p class="question-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, commodi architecto
        minus cumque aut tempora ullam esse! Error, nesciunt. Molestiae iure asperiores nisi sapiente repellendus
        inventore esse in architecto quasi?</p>

    <div id="editor" style="height: 300px; width: 92%; border-radius: 10px;"></div>
</section>
<!-- 
<section *ngFor="let answer of this.globalVaraiblesService.QuestionResponse.question.answers">
    <h1>{{answer.title}}</h1>
    <p>{{answer.description}}</p>
</section> -->