
<section class="question" *ngFor="let question of Questions">
    <div class="question-stats">
        <p>{{question.votes}} votes</p>
        <p [ngClass]="question.answers > 0 ? 'green' : 'gray'">{{question.answers}} answers</p>
        
    </div>
    <div class="question-info">
        <h1>{{question.text}}</h1>
        <p class="description">{{question.description}}</p>
        <div class="user-info">
            <img src="assets/randomimg.jpg" class="user-img">
            <p>username </p>
        </div>
        <hr>
        
    </div>
    

</section>




