section
{
    color: white;
    
}
h1{
    font-weight: bold;
    font-size: x-large;
    color: lightblue;
    cursor: pointer;
}
hr{
    width: 97%;
    
}
.question
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 20px;
}

.question-info
{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    padding: 5px;
    line-height: 1.6;
}
.question-info h1{
    margin: 0;
}
.question-info p
{
    margin: 0;
}
.question-stats
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.question-stats p{
    margin: 0;
}
.green
{
    color: lightgreen;

}
.gray
{
    color: gray;
}
.description
{
    color: white;
    font-size: small;
}
.user-info
{
    width: 98%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
}
.user-img
{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}