<section>
    <div class="mainregistrer">
        <div class="contactcontainer">
            <form action="">
                <h4>LEAVE YOUR MESSAGE</h4>

                <label for="name">Name</label>
                <input type="text" id="usermainName" name="name" placeholder="Enter Your Name" [(ngModel)]="userNameInput">

                <label for="Email">Email</label>
                <input id="userGmail" type="email" name="email" placeholder="Enter Your Email" [(ngModel)]="userEmailInput">

                <label for="Message">Password</label>
                <input class="messagetext" id="userPassword" type="password" name="password" placeholder="Enter Your Password" [(ngModel)]="userPasswordInput">

                <button (click)="registerUserFunc(userNameInput,userEmailInput,userPasswordInput,$event)" class="SUBMIT">Submit</button>
            </form>
        </div>
    </div>
</section>
